# Pandas

In [2]:
with open("./data/bank-additional-names.txt", encoding="UTF-8") as f:
    print(f.read())

﻿Citation Request:
  This dataset is publicly available for research. The details are described in [Moro et al., 2014].
  Please include this citation if you plan to use this database:

  [Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, In press, http://dx.doi.org/10.1016/j.dss.2014.03.001

  Available at: [pdf] http://dx.doi.org/10.1016/j.dss.2014.03.001
                [bib] http://www3.dsi.uminho.pt/pcortez/bib/2014-dss.txt

1. Title: Bank Marketing (with social/economic context)

2. Sources
   Created by: Sérgio Moro (ISCTE-IUL), Paulo Cortez (Univ. Minho) and Paulo Rita (ISCTE-IUL) @ 2014

3. Past Usage:

  The full dataset (bank-additional-full.csv) was described and analyzed in:

  S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems (2014), doi:10.1016/j.dss.2014.03.001.

4. Relevant Information:

   This dataset is based on "Bank Marketing" UCI dataset (please check the description at: http://archive.ics.uci.edu/ml/datasets/Bank+Marketing).
   The data is enriched by the addition of five new social and economic features/attributes (national wide indicators from a ~10M population country), published by the Banco de Portugal and publicly available at: https://www.bportugal.pt/estatisticasweb.
   This dataset is almost identical to the one used in [Moro et al., 2014] (it does not include all attributes due to privacy concerns).
   Using the rminer package and R tool (http://cran.r-project.org/web/packages/rminer/), we found that the addition of the five new social and economic attributes (made available here) lead to substantial improvement in the prediction of a success, even when the duration of the call is not included. Note: the file can be read in R using: d=read.table("bank-additional-full.csv",header=TRUE,sep=";")

   The zip file includes two datasets:
      1) bank-additional-full.csv with all examples, ordered by date (from May 2008 to November 2010).
      2) bank-additional.csv with 10% of the examples (4119), randomly selected from bank-additional-full.csv.
   The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g., SVM).

   The binary classification goal is to predict if the client will subscribe a bank term deposit (variable y).

5. Number of Instances: 41188 for bank-additional-full.csv

6. Number of Attributes: 20 + output attribute.

7. Attribute information:

   For more information, read [Moro et al., 2014].

   Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
   3 - marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
   5 - default: has credit in default? (categorical: "no","yes","unknown")
   6 - housing: has housing loan? (categorical: "no","yes","unknown")
   7 - loan: has personal loan? (categorical: "no","yes","unknown")
   # related with the last contact of the current campaign:
   8 - contact: contact communication type (categorical: "cellular","telephone")
   9 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  10 - day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
  11 - duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
   # other attributes:
  12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
  14 - previous: number of contacts performed before this campaign and for this client (numeric)
  15 - poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")
   # social and economic context attributes
  16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
  17 - cons.price.idx: consumer price index - monthly indicator (numeric)
  18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
  19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
  20 - nr.employed: number of employees - quarterly indicator (numeric)

  Output variable (desired target):
  21 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: There are several missing values in some categorical attributes, all coded with the "unknown" label. These missing values can be treated as a possible class label or using deletion or imputation techniques.

In [2]:
import pandas as pd

bank-additional-names.txt* bank-names.txt*

Q.1.1  
★ pandasで　"./bank-additional.csv" をデータフレームとして開き、dfという名前の変数に格納せよ。

In [14]:
df = pd.read_csv("./data/bank-additional.csv", sep=";")

Q.1.2  
★ pandasで　"./bank-additional.csv" をデータフレームとして返すget_dfという関数を作成せよ。  
※以降、問題を解く時にdfが変になってしまったら、get_df()で呼び出してdfを初期化すれば良い。

In [10]:
def get_df():
    df = pd.read_csv("./data/bank-additional.csv", sep=";")
    return df

do = get_df()
do.info

FileNotFoundError: [Errno 2] File b'./data/bank-additional.csv' does not exist: b'./data/bank-additional.csv'

Q.1.3  
★dfの内容をhead,tail,info,describeで確認せよ。

In [15]:
print(df.head())
print(df.tail())
print(df.info())
print(df.decribe())

   age          job  marital          education default  housing     loan  \
0   30  blue-collar  married           basic.9y      no      yes       no
1   39     services   single        high.school      no       no       no
2   25     services  married        high.school      no      yes       no
3   38     services  married           basic.9y      no  unknown  unknown
4   47       admin.  married  university.degree      no      yes       no

     contact month day_of_week  ...  campaign  pdays  previous     poutcome  \
0   cellular   may         fri  ...         2    999         0  nonexistent
1  telephone   may         fri  ...         4    999         0  nonexistent
2  telephone   jun         wed  ...         1    999         0  nonexistent
3  telephone   jun         fri  ...         3    999         0  nonexistent
4   cellular   nov         mon  ...         1    999         0  nonexistent

  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0         -1.8          92.893          -46.2      1.313       5099.1  no
1          1.1          93.994          -36.4      4.855       5191.0  no
2          1.4          94.465          -41.8      4.962       5228.1  no
3          1.4          94.465          -41.8      4.959       5228.1  no
4         -0.1          93.200          -42.0      4.191       5195.8  no

[5 rows x 21 columns]
      age         job  marital    education default housing loan    contact  \
4114   30      admin.  married     basic.6y      no     yes  yes   cellular
4115   39      admin.  married  high.school      no     yes   no  telephone
4116   27     student   single  high.school      no      no   no   cellular
4117   58      admin.  married  high.school      no      no   no   cellular
4118   34  management   single  high.school      no     yes   no   cellular

     month day_of_week  ...  campaign  pdays  previous     poutcome  \
4114   jul         thu  ...         1    999         0  nonexistent
4115   jul         fri  ...         1    999         0  nonexistent
4116   may         mon  ...         2    999         1      failure
4117   aug         fri  ...         1    999         0  nonexistent
4118   nov         wed  ...         1    999         0  nonexistent

     emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
4114          1.4          93.918          -42.7      4.958       5228.1  no
4115          1.4          93.918          -42.7      4.959       5228.1  no
4116         -1.8          92.893          -46.2      1.354       5099.1  no
4117          1.4          93.444          -36.1      4.966       5228.1  no
4118         -0.1          93.200          -42.0      4.120       5195.8  no

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
age               4119 non-null int64
job               4119 non-null object
marital           4119 non-null object
education         4119 non-null object
default           4119 non-null object
housing           4119 non-null object
loan              4119 non-null object
contact           4119 non-null object
month             4119 non-null object
day_of_week       4119 non-null object
duration          4119 non-null int64
campaign          4119 non-null int64
pdays             4119 non-null int64
previous          4119 non-null int64
poutcome          4119 non-null object
emp.var.rate      4119 non-null float64
cons.price.idx    4119 non-null float64
cons.conf.idx     4119 non-null float64
euribor3m         4119 non-null float64
nr.employed       4119 non-null float64
y                 4119 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB
None

AttributeError: 'DataFrame' object has no attribute 'decribe'

Q.2.1  
★dfの行数と列数はそれぞれいくつか。

In [5]:
df.shape

NameError: name 'df' is not defined

Q.3.1  
★ dfの1行目で列名がjobの値を切り出せ。

In [4]:
df.loc[1, "job"]

NameError: name 'df' is not defined

In [7]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

Q.3.2  
★ dfの1,3行目で列名がjob,educationの値を切り出せ。

In [13]:
df.loc[0:2, ["job", "education"]]

           job    education
0  blue-collar     basic.9y
1     services  high.school
2     services  high.school

Q.3.3  
★ dfの1〜5行目で列名がcampaign,pdaysの値を切り出せ。

In [16]:
df.loc[:4, ["campain","pdays"]]

/Users/seijisuzuki/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   campain  pdays
0      NaN    999
1      NaN    999
2      NaN    999
3      NaN    999
4      NaN    999

Q.3.4  
★dfの1行1列を切り出せ。

Q.3.5  
★dfの2〜4行と1〜3列を切り出せ。

In [21]:
df.iloc[2:5,:3]

   age       job  marital
2   25  services  married
3   38  services  married
4   47    admin.  married

Q.3.6  
★ dfの最終行と最終列の値（データフレームの一番右下）を切り出せ。

Q.3.7.  
★ dfの列名がjobとageの列を切り出せ。

In [16]:
df.loc[:, ["job", "age"]]

              job  age
0     blue-collar   30
1        services   39
2        services   25
3        services   38
4          admin.   47
...           ...  ...
4114       admin.   30
4115       admin.   39
4116      student   27
4117       admin.   58
4118   management   34

[4119 rows x 2 columns]

Q.3.8  
★ dfの列名がjobの列をシリーズとして切り出せ。

In [17]:
df["job"]

0       blue-collar
1          services
2          services
3          services
4            admin.
           ...
4114         admin.
4115         admin.
4116        student
4117         admin.
4118     management
Name: job, Length: 4119, dtype: object

Q.3.9  
★ dfの列名がjobの列をデータフレームとして切り出せ。

In [23]:
df[["job"]]

                job
0       blue-collar
1          services
2          services
3          services
4            admin.
5          services
6            admin.
7      entrepreneur
8          services
9       blue-collar
10         services
11    self-employed
12           admin.
13      blue-collar
14           admin.
15         services
16           admin.
17           admin.
18     entrepreneur
19      blue-collar
20         services
21       technician
22       technician
23       management
24       technician
25       technician
26       technician
27      blue-collar
28           admin.
29           admin.
...             ...
4089         admin.
4090    blue-collar
4091     management
4092    blue-collar
4093        retired
4094    blue-collar
4095         admin.
4096       services
4097    blue-collar
4098      housemaid
4099         admin.
4100         admin.
4101   entrepreneur
4102    blue-collar
4103       services
4104     technician
4105      housemaid
4106   entrepreneur
4107         admin.
4108         admin.
4109        retired
4110      housemaid
4111     technician
4112     technician
4113         admin.
4114         admin.
4115         admin.
4116        student
4117         admin.
4118     management

[4119 rows x 1 columns]

Q.3.10  
★dfのageが20以下の行を切り出せ。

Q.3.11  
★★ dfのageが20以下でloanがyesの行を切り出せ。

In [ ]:
# ヒント
d1 = pd.DataFrame([1, 2, 3])
d2 = pd.DataFrame([5, 6, 7])
(d1 >= 2) & (d2 <= 6)

Q.4.1  
★ dfに「over_25」という列を追加せよ。追加する列のセルの値は全て「yes」とせよ。

Q.4.2  
★★ dfに「over_25」という列を追加せよ。追加する列のセルの値はageが25より大きい時に「yes」、ageが25以下の場合「no」とせよ。

Q.4.3  
★ dfからage列を削除したデータフレームを表示せよ。

Q.4.4  
★★ dfの最終行の下に最終行と同じ内容の行を追加せよ。  
インデックス番号は最終行のインデックス番号より1つ大きくすること。

Q.5.1  
★ dfの1行1列, 2行2列のセルを欠損値にせよ。

In [ ]:
# ヒント
import numpy as np
np.nan #　欠損値

Q.5.2  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損が存在する列名を表示せよ。

Q.5.3  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損が存在するセルを含む行を全て表示せよ。

Q.5.4  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損を含む行を削除したデータフレームを表示せよ。

Q.5.5  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損を含む列を削除したデータフレームを表示せよ。

Q.5.6  
★ dfの1行1列, 2行2列のセルを欠損値にし、欠損を含むセルを「unknown」という値に変更したデータフレームを表示せよ。

Q.6.1  
★ dfのjob列の重複行を削除したデータフレームを表示せよ。

Q.7.1  
★ dfのage列の最大値、最小値、平均値を求めよ。

Q.7.2  
★★ 列ごとにdfの「unknown」というセルの個数を求めよ。

Q.7.3  
★★ dfの「unknown」というセルの総個数を求めよ。

Q.7.4  
★★ dfのageが20以上、30未満のセル個数を求めよ。

In [ ]:
# ヒント
import numpy as np
np.array([True, True, False]) & np.array([False, True, True])

Q.8.1  
★ dfのjob列の列名をworkに変更したデータフレームを表示せよ。

Q.8.2  
★★ dfのindexを「No.{数字}」に変更せよ。  
例  
0 → No.0  
1 → No.1  
2 → No.2

In [ ]:
# ヒント
["No." + str(i) for i in range(5)]

Q.8.3  
★★ dfのindexを「No.{数字}」に変更した後、indexをリセットせよ。

Q.9.1    
★★ groupbyを用いて、jobごとの最大ageを求めよ。  
ヒント：最初にjob列とage列でデータフレームを切り出した後に処理をすると見やすくなる。

Q.9.2    
★★ groupbyを用いて、jobごとmaritalごとの平均ageを求めよ。  
ヒント: 平均はmean()で求められる。

Q.10.1    
★★ ピボットせよ。値はage、インデックスはjobとmarital、集計関数は平均を用いよ。  
ヒント：pivot_tableの引数にaggfunc=np.meanを指定する。

Q.11.1    
★ age列をfloat型に変更せよ。

Q.11.2    
★ age列で降順にソートしたデータフレームを表示せよ。

Q.11.3    
★以下のデータフレームを作成せよ。（１行目はヘッダーとして列名を表す。）  
A, B  
1, 2  
3, 4  
5, 6

Q.12.1    
★★以下のデータフレームを作成し、day_of_week列でdfとmergeせよ。（１行目はヘッダーとして列名を表す。）  
day_of_week, week_index  
sun,1  
mon,2   
tue,3  
wed,4  
thu,5  
fri,6  
sat,7

Q.12.2    
★★dfの1-3行を切り出してnew_dfとし、dfに行を追加する形でappendせよ。  
その際に、インデックスは初期化せよ。

Q.13.1    
★★ dfのday_of_weekをone-hotエンコーディングしたデータフレームを表示せよ。